<mat-card class="mt-5">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h1 class="h11">Id</h1>
        </div>
        <div class="col-md-2">
            <h1 class="h11">UserId</h1>
        </div>
        <div class="col-md-2">
            <h1 class="h11">Username</h1>
        </div>
        <div class="col-md-2">
            <h1 class="h11">Email</h1>
        </div>
        <div class="col-md-2">
            <h1 class="h11">Message</h1>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div *ngFor="let c of Feedback" class="row mt-2">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <p>{{c.id}}</p>
        </div>
        <div class="col-md-2">
            <p>{{c.userId}}</p>
        </div>
        <div class="col-md-2">
            <p>{{c.username}}</p>
        </div>
        <div class="col-md-2">
            <p>{{c.email}}</p>
        </div>
        <div class="col-md-2">
            <p>{{c.message}}</p>
        </div>
        <div class="col-md-1"></div>
    </div>

 

</mat-card>