<div class="text-center">
    <div class="mt-3">
       <h1 style="font-size:200% ; color:brown">e-receipt</h1>
    </div>
    <table class="table mt-5">
        <tr>
            <td>Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Userid</td>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <td>firstName</td>
            <td>{{user.firstName}}</td>
        </tr>
        <tr>
            <td>LastName</td>
            <td>{{user.lastName}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{user.phone}}</td>
        </tr>
        <tr>
            <td>Booking_Id</td>
            <td>{{book.id}}</td>
        </tr>
        <tr>
            <td>pickUp Location</td>
            <td>{{book.pickup_location}}</td>
        </tr>
        <tr>
            <td>dropof Location</td>
            <td>{{book.dropof_location}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{book.date}}/{{book.month}}/{{book.year}}</td>
        </tr>
        <tr>
            <td>Time</td>
            <td>{{book.hour}}:{{book.min}}:{{book.period}}</td>
        </tr>
    </table>
</div>