
    <div class="text-center">
        <h1 class="h11 mt-2">View Booking Status</h1>
    </div>
    <div class="row text-center  mt-4">

        <div class="col-md-1">
            <h1 class="ddd">Id</h1>
        </div>
        <div class="col-md-1">
            <h1 class="ddd">UserId</h1>
        </div>
        <div class="col-md-2">
            <h1 class="ddd">Pickup_Location</h1>
        </div>
        <div class="col-md-2">
            <h1 class="ddd">Dropof_Location</h1>
        </div>

        <div class="col-md-1">
            <h1 class="ddd">Date</h1>
        </div>
        <div class="col-md-2">
            <h1 class="ddd">Time</h1>
        </div>
        <div class="col-md-2">
            <h1 class="ddd">Cancel Booking</h1>
        </div>
    </div>

    <div *ngFor="let c of this.bookings" class="row text-center mt-2">

        <div *ngIf="user.id==c.userId" class="col-md-1">
            <p>{{c.id}}</p>
        </div>
        <div *ngIf="user.id==c.userId" class="col-md-1">
            <p>{{c.userId}}</p>
        </div>
        <div *ngIf="user.id==c.userId" class="col-md-2">
            <p>{{c.pickup_location}}</p>
        </div>
        <div *ngIf="user.id==c.userId" class="col-md-2">
            <p>{{c.dropof_location}}</p>
        </div>

        <div *ngIf="user.id==c.userId" class="col-md-1">
            <p>{{c.date}}/{{c.month}}/{{c.year}}</p>
        </div>
        <div *ngIf="user.id==c.userId" class="col-md-2">
            <p>{{c.hour}}:{{c.min}}:{{c.period}}</p>
        </div>
        <div *ngIf="user.id==c.userId" class="col-md-1">
            <a [routerLink]="'/user/cancel/'+c.id">
                <mat-icon fontIcon="close"></mat-icon>
            </a>
        </div>
    </div>
