<div class="text-center mt-5">

    <h1 class="h11 mt-3">Change Password</h1>

    <mat-card class="mt-5 mat">
        <form (ngSubmit)="onSubmit()">

            <mat-form-field  appearance="fill">
                <mat-label>Enter new Password</mat-label>
                <input [(ngModel)]="user.password" name="password"matInput type="password" required>
            </mat-form-field>

            <mat-form-field class="mx-2"appearance="fill">
                <mat-label>Enter new Password</mat-label>
                <input [(ngModel)]="confirm" name="confirm"matInput type="password" required>
            </mat-form-field>

            <div>

                <button class="bt"
                type="submit" mat-raised-button color="primary" >Change password</button>
            </div>
        </form>
    </mat-card>

</div>

