.div{
    background-image: url('../../../../assets/pic.jpg');

}


.aa a {
    letter-spacing: 0.2px;
    cursor: pointer;
    font-weight: bolder;
    color:white;
    text-decoration: none;
  }
  
  .aa a.active {
    color: #FFFFFF;
  }
  
  .aa a:hover {
    color: #8EC44A;
  }