<div class="container-fluid faq">
   <div class="row">
    <div class="col-md-12 mt-4">
        <mat-card class="mat">
            <h1 style="color:brown ; font-weight: bold;">How can I book cheap cabs online?</h1>

            <p style="font-weight: bold ;"> Cab Service helps you with online cab booking at the best prices, comparatively much lower than the local vendors. Also you can use promo codes and offers on the Cab website &amp; app on online cab booking to get extra discounts</p>
            <h1 style="color:brown ; font-weight: bold;">What are the advantages of online taxi booking?</h1>
            
            <p style="font-weight: bold ;"> Online taxi booking not only helps you with best prices but also helps you with the convenience of paying through multiple payment options (like Debit Card, Credit Card, eWallets etc.). You can easily compare prices and choose various categories of cabs like Hatchback cars, Sedan and SUV.</p>
            <h1 style="color:brown ; font-weight: bold;">Why you should book cabs from Us?</h1>
            
            <p style="font-weight: bold ;"> From Us you can get confirmed cheap cabs of your choice and budget. Expert and verified drivers will be taken care of your ride. Easy interface of booking with different payment modes available at cabs and finally with no hidden charges,cabs is the best option for online taxi booking.</p>
            <h1 style="color:brown ; font-weight: bold;"> What are the best options available for cab booking?</h1>
            
           <p style="font-weight: bold ;"> While booking cabs online through us, you can choose the car based on your requirement and preferences. You can book Hatchback like Indica, Swift, Sedan like Dzire, Etios and SUV like Innova, Ertiga.</p>
            <h1 style="color:brown ; font-weight: bold;"> What kind of cabs you can book from Us?</h1>
            
            <p style="font-weight: bold ;"> You can book following kinds of cabs from us: airport cabs and intercity cabs / outstation cabs. You can book outstation cabs for both one-way transfers &amp; round-trip transfers.</p>
            
            <h1 style="color:brown ; font-weight: bold;"> What are the popular outstation cab booking routes?</h1>

             <p style="font-weight: bold ;">Some of the popular outstation cab booking routes are Pune to Mumbai cabs, Delhi to Jaipur cabs, Delhi to Agra cabs, Pondicherry to Chennai cabs, Ahmedabad to Vadodara cabs, Bangalore to Mysore cabs and Mumbai to Pune cabs.</p>
        </mat-card>
    </div>
   </div>
</div>
